/**** Sass Variables ****/
$bodyFont: "Open Sans", sans-serif;

// * {
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }

body {
  font-family: $bodyFont;
  background-color: #0b0c10;
}

.meet-team {
  color: #c5c6c7;
  font-size: 5rem;
  margin: 30px 0;
  padding: 0;
  text-align: center;
}

.container {
  max-width: 100rem;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.card-wrapper {
  width: 400px;
  height: 500px;
  position: relative;
  padding: 5rem;
}

.card {
  position: relative;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 450px;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);

  transition: 0.5s;

  .card-image {
    position: relative;
    top: 0px;
    left: 0px;
    width: 0rem;
    height: 40rem;
    z-index: 2;
    background-color: #000;
    transition: 0.5s;
  }

  &:hover img {
    opacity: 0.4;
    transition: 0.5s;
  }
}

.card:hover .card-image {
  transform: translateY(-100px);
  transition: all 0.9s;
}

/**** Social Icons *****/

.social-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;

  li {
    list-style: none;

    .view-profile {
      position: relative;
      border-radius: 4rem;
      // width: 5rem;
      // height: 10rem;
      line-height: 2rem;
      padding: 0.5rem;
      text-align: center;
      background: #fff;
      font-size: 1.3rem;
      color: #333;
      font-weight: bold;
      // margin: 0 6px;
      transition: 0.3s;
      transform: translateY(200px);
      opacity: 0;
      text-decoration: none;
    }
  }
}

.card:hover .social-icons li .view-profile {
  transform: translateY(0px);
  opacity: 1;
}

.social-icons li .view-profile:hover {
  background: #000;
  transition: 0.2s;

  color: #fff;
}

.card:hover li:nth-child(1) .view-profile {
  transition-delay: 0.1s;
}

/**** Personal Details ****/

.details {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 120px;
  z-index: 1;
  padding: 10px;

  h2 {
    margin: 30px 0;
    padding: 0;
    text-align: center;
    color: #333;

    .job-title {
      font-size: 1rem;
      line-height: 2.5rem;
      color: #333;
      font-weight: 300;
    }
  }
}

@media only screen and (max-width: 1000px) {
  /* For mobile phones: */
  [class*="container"] {
    display: inline;
  }

  [class*="card-wrapper"] {
    width: 800px;
    height: 500px;
  }

  [class*="profile-display"] {
    opacity: 0.4;
    transition: 0.5s;
  }
  [class*="card-image"] {
    transform: translateY(-100px);
    transition: all 0.9s;
  }

  .social-icons li .view-profile {
    transform: translateY(0px);
    opacity: 1;
    background: #fff;

    color: #000;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="container"] {
    display: inline;
  }

  [class*="card-wrapper"] {
    width: 768px;
    height: 500px;
  }
}

@media only screen and (max-width: 414px) {
  /* For mobile phones: */
  [class*="card-wrapper"] {
    width: 414px;
    height: 500px;
  }
}

@media only screen and (max-width: 375px) {
  /* For mobile phones: */
  [class*="card-wrapper"] {
    width: 318px;
    height: 500px;
  }
}

@media only screen and (max-width: 360px) {
  /* For mobile phones: */
  [class*="card-wrapper"] {
    width: 360px;
    height: 500px;
  }
}
